# Path Configuration
NAS="/path/to/nas_root"
NAS_STORE_AS=h5
NAS_CACHE="/path/to/NAS_CACHE"
NAS_CACHE_STORE_AS=h5
CAPTURESTUDIO_CACHE="/path/to/CAPTURESTUDIO_CACHE"
CAPTURESTUDIO_CACHE_STORE_AS=raw
TORCH_HOME="/path/to/TORCH_HOME"
WEBAPP_ROOT="/path/to/capturestudio/recon-viewer"
RESULTS_ROOT="/path/to/capturestudio/out"

# Build configuration
TORCH_CUDA_ARCH_LIST="8.9" # NVIDIA RTX4000 series
CC="/root/miniconda3/envs/capturestudio-env/bin/x86_64-conda-linux-gnu-gcc"
CXX="/root/miniconda3/envs/capturestudio-env/bin/x86_64-conda-linux-gnu-g++"
CUDA_INCLUDE_PATH="/root/miniconda3/envs/capturestudio-env/targets/x86_64-linux/include"

# Secrets
NEPTUNE_API_TOKEN=your-neptune-api-token
NEPTUNE_PROJECT=your-neptune-project

# Misc
LOG_LEVEL=info
OPEN3D_RENDERING_ENGINE=egl # for WSL: osmesa
EGL_PLATFORM=surfaceless
DISPLAY=:0 # for WSL with NVIDIA gfx
GALLIUM_DRIVER=d3d12 # for WSL with NVIDIA gfx
LIBGL_ALWAYS_SOFTWARE=0 # for WSL with NVIDIA gfx
MESA_D3D12_DEFAULT_ADAPTER_NAME=NVIDIA # for WSL with NVIDIA gfx
WAYLAND_DISPLAY=wayland-0 # for WSL with NVIDIA gfx
OS_OFFSCREEN=1 # for WSL with NVIDIA gfx
#TQDM_DISABLE=0
FORKED_BY_MULTIPROCESSING=1
DECORD_EOF_RETRY_MAX=20480