# Path Configuration
NAS="/media/charisoudis/nas_captures"
NAS_STORE_AS=h5
NAS_CACHE="/root/NAS_CACHE"
NAS_CACHE_STORE_AS=h5
CAPTURESTUDIO_CACHE="/root/CAPTURESTUDIO_CACHE"
CAPTURESTUDIO_CACHE_STORE_AS=raw
TORCH_HOME=/root/TORCH_HOME
WEBAPP_ROOT=/root/webapps/reconvis
RESULTS_ROOT=/root/capturestudio2/out

# Build configuration
TORCH_CUDA_ARCH_LIST="8.9"
CC="/root/miniconda3/envs/capturestudio-env/bin/x86_64-conda-linux-gnu-gcc"
CXX="/root/miniconda3/envs/capturestudio-env/bin/x86_64-conda-linux-gnu-g++"
CUDA_INCLUDE_PATH="/root/miniconda3/envs/capturestudio-env/targets/x86_64-linux/include"

# Secrets
NEPTUNE_API_TOKEN=your-nepture-token
NEPTUNE_PROJECT=your-nepture-project

# Misc
LOG_LEVEL=debug
OPEN3D_RENDERING_ENGINE=osmesa
EGL_PLATFORM=surfaceless
LIBGL_ALWAYS_SOFTWARE=1
PYOPENGL_PLATFORM=osmesa
TQDM_DISABLE=1
FORKED_BY_MULTIPROCESSING=1